{# Print a single property entry #}
{% macro print_entry(prop, value, required) %}
  - `{{ prop }}` **[{{ value | friendly_type }}]**   {% if prop not in required %} _optional_ {% endif %}

    {{value.description | markdownify}}

    {% if value.oneOf %}
      {%- for key in value.oneOf -%}
        {%- if key is composite_type -%}
          Option {{loop.index}}

          {{print_object(key) | indent(4, True) }}
        {% else-%}
          1. {{key | friendly_type}}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% if value is composite_type %}
      {{ print_object(value) | indent(4, True) }}
  {% endif %}

  {% if value.type == "array" and value["items"] is composite_type %}
      {{ print_object(value["items"]) | indent(4, True) }}
  {% endif %}
{% endmacro %}


{% macro print_object(obj) %}
{% if obj.properties %}
{% for prop, value in obj.properties.items() if prop in obj.required %}
  {{ print_entry(prop, value, obj.required) }}
{% endfor %}

{% for prop, value in obj.properties.items() if prop not in obj.required %}
  {{ print_entry(prop, value, obj.required) }}
{% endfor %}
{% else %}
{{obj}}
{% endif %}
{% endmacro %}



{# MAIN #}

# {{ title }}

{{ data.description | markdownify }}

{{ print_object(data) }}

{% if examples %}
## Example
{% for example in examples %}
```{literalinclude} /{{ example }}
:language: json
:caption: Example file ([download](/{{ example }}))
```
{% endfor %}
{% endif %}
